{{- if ne .chezmoi.os "windows" }}
umask = 0o022
{{- end }}

[git]
autoCommit = true
autoPush = true

{{- if stat (joinPath .chezmoi.homeDir ".config/chezmoi/local.toml") }}
{{ include (joinPath .chezmoi.homeDir ".config/chezmoi/local.toml") }}
{{- end }}
