Host github.com
  HostName github.com
  User git
{{- if (get . "onepassword_ssh_agent") }}
  IdentityAgent "{{ get . "onepassword_ssh_agent_socket" }}"
  IdentityFile ~/.ssh/github-dotfiles.pub
{{- end }}
  IdentitiesOnly yes

Host dalek
  HostName dalek
  User mcribbs
{{- if (get . "onepassword_ssh_agent") }}
  IdentityAgent "{{ get . "onepassword_ssh_agent_socket" }}"
{{- end }}
  ForwardAgent yes

