{{- $isWSL := contains "microsoft" (lower (output "uname" "-r")) -}}
{{- $winHome := "" -}}

{{- if $isWSL -}}
{{- $winHome = (output "powershell.exe" "-NoProfile" "-Command" "[Environment]::GetFolderPath('UserProfile')" | trim | replace "\\" "/") -}}
{{- end -}}

#
# GitHub
#
Host github.com
  HostName github.com
  User git

{{- if $isWSL }}
  # Windows OpenSSH + 1Password
  IdentityFile "{{ $winHome }}/.ssh/github-dotfiles.pub"
  IdentitiesOnly yes

{{- else if (get . "onepassword_ssh_agent") }}
  # Native macOS/Linux 1Password agent
  IdentityAgent "{{ get . "onepassword_ssh_agent_socket" }}"
  IdentityFile ~/.ssh/github-dotfiles.pub
  IdentitiesOnly yes

{{- else }}
  # Forwarded agent / normal ssh-agent
  IdentitiesOnly no

{{- end }}


#
# Homelab hosts
#
Host rose martha clara donna dalek
  User mcribbs

{{- if $isWSL }}
  # Windows OpenSSH + 1Password
  IdentityFile "{{ $winHome }}/.ssh/home-admin.pub"
  IdentitiesOnly yes

{{- else if (get . "onepassword_ssh_agent") }}
  # Native macOS/Linux 1Password agent
  IdentityAgent "{{ get . "onepassword_ssh_agent_socket" }}"
  IdentityFile ~/.ssh/home-admin.pub
  IdentitiesOnly yes

{{- else }}
  # Forwarded agent / normal ssh-agent
  IdentitiesOnly no

{{- end }}

  ForwardAgent yes
